name: Release

on:
  release:
    types: [ created ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  release:
    strategy:
      matrix:
        platform:
          - os: macos-latest
            target: aarch64-apple-darwin
            features: ""
          # macOS x86 free runner: https://docs.github.com/en/actions/how-tos/write-workflows/choose-where-workflows-run/choose-the-runner-for-a-job#standard-github-hosted-runners-for-public-repositories
          - os: macos-15-intel
            target: x86_64-apple-darwin
            features: ""
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            features: ""
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            features: ""
          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
            features: ""
          - os: windows-latest
            target: x86_64-pc-windows-gnu
            features: ""
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            features: ""

    name: Release - ${{ matrix.platform.target }}
    runs-on: ${{ matrix.platform.os }}
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          target: ${{ matrix.platform.target }}
          args: "--locked --release ${{ matrix.platform.features }}"
          strip: true

      - name: Publish artifacts and release
        uses: houseabsolute/actions-rust-release@v0
        with:
          executable-name: mihomo-tui
          changes-file: ''
          target: ${{ matrix.platform.target }}
